
  @import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');


*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Creepster', cursive;
    color:  #e68a0a;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

body{
    background-image:url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
}

h1 {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-left: -2em;
}

/*----------- Game Buttons----------*/
.row{
    
    padding-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5em;
}

#top-left{
    height:10em;
    width: 10em;
    border-radius: 50%;
    background: #F75F1C;
    border: 0.2em ridge #F75F1C;
}

#top-right{
    height:10em;
    width: 10em;
    border-radius: 50%;
    background: #881EE4;
    border: 0.2em ridge #881EE4;
}

#bottom-left {
    height:10em;
    width: 10em;
    border-radius: 50%;
    background: #85E21F;
    border: 0.2em ridge #85E21F;
}

#bottom-right {
    height:10em;
    width: 10em;
    border-radius: 50%;
    background:#FF9A00 ;
    border: 0.2em ridge #FF9A00;
}

.btn:hover {
    box-shadow: 1px 1px 3px 4px rgb(248, 255, 255);
    box-sizing: border-box;
}


/*----------- Game Info ----------*/

div.left-container{
    display: flex;
    gap: 5em;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 3.5em;
}


/*------Start Game Button-------*/

#start-game{
    font-family:'Creepster', cursive;
    background-color: black;
    color: #e68a0a;
    box-shadow: 1px 1px 3px 4px rgb(248, 255, 255);
    box-sizing: border-box;
    height:2.5em;
    width:5em;
}

/*-------Game Counter--------*/
.count {
    display: flex;
    justify-content: center;
    color: #e68a0a;
    font-size: 3rem;
}




/*----------- Log In page ----------*/

.login-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    margin-left: 2em;
}

form {
    padding-top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2.5em;
}

#login-input{
    background-color: black;
    box-shadow: 1px 1px 3px 4px rgb(248, 255, 255);
    box-sizing: border-box;
}



#enter-btn{
    background-color: black;
}

#enter-btn:hover{
        box-shadow: 1px 1px 3px 4px rgb(248, 255, 255);
        box-sizing: border-box;
}