
  @import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Creepster', cursive;
    color:  #e68a0a;
}

  
html{
    background-image:url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
    border-radius: 20%;
} 



/*----------- Game Buttons----------*/
.row {
    margin:50px auto;
    padding-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10em;

}

#top-left-one {
    height:10em;
    width: 10em;
    border-radius: 50%;
    background: #F75F1C;
    border: 0.2em ridge #F75F1C;
}

#top-right-two{
    height:10em;
    width: 10em;
    border-radius: 50%;
    background: #881EE4;
    border: 0.2em ridge #881EE4;
}

#bottom-left-three {
    height:10em;
    width: 10em;
    border-radius: 50%;
    background: #85E21F;
    border: 0.2em ridge #85E21F;
}

#bottom-right-four {
    height:10em;
    width: 10em;
    border-radius: 50%;
    background:#FF9A00 ;
    border: 0.2em ridge #FF9A00;
}

.btn:hover {
    box-shadow: 1px 1px 3px 4px rgb(248, 255, 255);
    box-sizing: border-box;
}


/*----------- Game Info ----------*/

#ghost {
    display: flex !important;
    justify-content: space-between;
    height:50px !important;
    width: 40px !important;
    margin:10em
}

/*------Start Game Button-------*/

#start-game{
    font-family:'Creepster', cursive;
    background-color: black;
    color: #e68a0a;
    box-shadow: 1px 1px 3px 4px rgb(248, 255, 255);
    box-sizing: border-box;
    height:5em;
    width:10em;
    float: left;
}

button#start-game{
    position: fixed;

}
/*-------Game Counter--------*/

.count {
    display: flex;
    justify-content: center;
    color: #e68a0a;
    height: 20px;
}







/*----------- Log In page ----------*/

#body-login{
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10em;
    flex-direction: row;
    align-content: center;
    align-items: center;

}

.login-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding-top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2.5em;
}

#login-input{
    background-color: black;
    box-shadow: 1px 1px 3px 4px rgb(248, 255, 255);
    box-sizing: border-box;
}



#enter-btn{
    background-color: black;
}

#enter-btn:hover{
        box-shadow: 1px 1px 3px 4px rgb(248, 255, 255);
        box-sizing: border-box;
}